:root {
    --background-primario-claro: #fffef5;
    --background-claro-secundario: #fdeecc;
    --background-escuro: #283618;
    --cor-letra-escura: #283618;
    --cor-letra-clara: #fffef5;
    --cor-principal: #364420;
    --cor-destaque: #c4972e;
    --cor-link: #f9af15;
    --cor-secundaria: #606c38;
    --cor-apoio: #fac75c;
    --cor-apoio-claro: #fadea3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
    color: var(--cor-letra-clara);
    align-items: center;
    text-align: center;
    position: relative;
}

nav {
    padding: 1em;
    color: var(--cor-letra-clara);
    margin: auto;
    background-color: var(--background-escuro);
}

nav a {
    text-decoration: none;
    color: var(--cor-letra-clara);
    position: relative;
    font-size: 1.2em;
}

nav a::before {
    position: absolute;
    margin-top: 0.5em;
    content: '';
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: #c4972e;
    transition: width 0.2s;
}

nav a:hover::before {
    width: 100%;
    cursor: pointer;
}

nav:hover {
    cursor: pointer;
}

ul {
    font-size: 1em;
    font-weight: 600;
    align-items: center;
    padding: 1.2em;
    gap: 1.8em;
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-evenly;
}

.header__logo {
    display: block;
    width: 90%;
    margin-inline: auto;
    height: calc(96px + 10vh);
}

.header__container {
    background-color: var(--background-escuro);
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: end;
    margin: 1rem;
    justify-items: start;
}

.login {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}

.login a {
    color: var(--cor-destaque);
    text-decoration: none;
}

.header__wrapper {
    width: 90%;
    max-width: 1280px;
    margin-inline: auto;
}

.main-navigation {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    justify-content: space-between;
    list-style: none;
    padding-block: 2rem;
}

@media (max-width: 1024px) and (orientation: portrait) {
    .main-navigation {
        flex-direction: column;
    }
}

@media (max-width: 915px) and (orientation: landscape) {
    .main-navigation {
        flex-direction: column;
    }
}

@media (max-width: 414px) and (orientation: portrait) {
    .main-navigation {
        flex-direction: column;
    }
}

.main-navigation li a {
    --spacing: 0.1em;
    --color: var(--cor-destaque);
    text-decoration: none;
    font-size: 1.2em;
    color: var(--cor-letra-clara);
    cursor: pointer;

    padding-bottom: var(--spacing);
    background: linear-gradient(90deg, var(--color) 50%, #000 0)
            calc(100% - var(--_p, 0%)) / 200% 100%,
        linear-gradient(var(--color) 0 0) 0% 100% / var(--_p, 0%) var(--spacing)
            no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.main-navigation li a:hover {
    --_p: 100%;
}
